header {
  display: flex;
  padding: 32px 80px;
  justify-content: space-between;
}

.header-name {
  font-family: "Courier Prime", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: white;
}

.nav-btns {
  display: flex;
  gap: 32px;
}

.nav-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: transparent;
}

.promo {
  display: flex;
  flex-direction: column;
  padding: 160px 80px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.promo .title {
  font-family: "Courier New";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;
  margin-bottom: 32px;
}

.promo .subtitle {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 40px;
}

.promo .CV-btn {
  width: 200px;
  height: 56px;
  background: #fd5a14;
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
