header {
  display: flex;
  padding: 32px 6%;
  gap: 670px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #130125;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-name {
  font-family: "Courier Prime", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
}

.nav-btns {
  display: flex;
  gap: 32px;
}

.nav-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: transparent;
}

.section {
  display: flex;
  padding: 260px 6%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.promo {
  flex-direction: column;
}

.promo .title {
  margin-bottom: 32px;
}

.subtitle {
  margin-bottom: 40px;
}

.CV-btn {
  width: 200px;
  height: 56px;
  background: #ffffff;
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* color: #ffffff; */
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.about-me {
  justify-content: space-between;
  gap: 370px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

h1 {
  height: 142px;
}

.title {
  font-family: "Courier New";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;
  width: 75%;
}

.kanit {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.about-me .text .bullet-points {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
}

.bullet-point {
  display: flex;
  gap: 12px;
}

.about-me .text .bullet-points .bullet {
  width: 22px;
  height: 22px;
}

.bullet-point-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.about-me .my-photo {
  width: 280px;
  height: 320px;
  border: 4px solid rgba(255, 255, 255, 0.2);
}

.experience {
  flex-direction: column;
  gap: 64px;
  padding-right: 730px;
}

.experience .workplace-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.experience .workplace {
  display: flex;
  gap: 100px;
}

.experience .year {
  font-family: "Courier New";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
}

.experience .workplace-info {
  display: flex;
  flex-direction: column;
}

.experience .workplace-title {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.experience .workplace-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.experience .workplace-location {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin: 0 0 16px 34px;
}

.experience .workplace-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.projects {
  display: flex;
  padding: 160px 6%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  flex-direction: column;
  gap: 64px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.project {
  display: flex;
  gap: 186px;
}

.even {
  flex-direction: row-reverse;
}

.project-photo {
  width: fit-content;
  height: 388px;
  border: 4px solid rgba(255, 255, 255, 0.2);
}

.project-name {
  font-family: "Courier New";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #ffffff;
}

a {
  color: #ffffff;
}

.contact {
  flex-direction: column;
  gap: 32px;
}

footer {
  padding: 32px 6%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.grey-text {
  opacity: 0.5;
}

.buttons {
  display: flex;
  gap: 50px;
}

.contact-btn {
  width: 56px;
  height: 56px;
  background: transparent;
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.contact-btn:hover {
  transform: scale(1.5);
}

.btn-img {
  height: 50px;
  width: 50px;
}
